:host,
#panel {
  min-height: 10rem;
  height: 16rem;
  background: var(--bkg-color);
}

#panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

#gutter {
  border: none;
  height: 6px;
  width: 100%;
  background: var(--bkg-color);
  position: absolute;
  top: 0;
  left: 0;
  cursor: row-resize;
}

#close {
  border: none;
  padding: 0;
  margin: 0.5rem;
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background-color: transparent;
}

#close svg {
  fill: #777;
}

#close svg:hover {
  fill: #000;
}

#content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--bkg-color);
  padding: 0;
  margin: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#gmf-lidarprofile-container {
  position: relative;
  overflow: hidden;
  padding: 0.5rem;
  background: var(--bkg-color);
  height: 20rem;
  display: flex;
}

#gmf-lidarprofile-container .lidarprofile {
  width: calc(100% - 10rem);
  background: var(--bkg-color);
}

#gmf-lidarprofile-container .lidar-legend {
  list-style-type: none;
  width: 10rem;
  padding: 0.5rem;
}

#gmf-lidarprofile-container .close {
  height: 0.62rem;
  cursor: pointer;
}

#gmf-lidarprofile-container .lidar-error {
  visibility: hidden;
  position: absolute;
  z-index: 10;
  margin: 0.5rem;
  padding-left: 6.25rem;
  padding-top: 6.25rem;
  width: calc(100% - 3.12rem - 10rem);
  height: calc(20rem - 3.12rem);
  font-size: 1.5em;
  opacity: 1;
  background: var(--bkg-color);
  color: var(--text-color);
}

#gmf-lidarprofile-container .lod-info {
  max-height: 6.25rem;
  overflow-y: auto;
}

.gmf-lidarprofile-automatic-width {
  color: var(--text-color);
}

.gmf-lidarprofile-chart-active main {
  height: calc(100% - 20rem);
}

.gmf-tooltip-measure {
  font-weight: bold;
}
