input {
  border: 1px solid var(--bkg-color-grad1);
  width: inherit;
  padding-right: 0;
  background-color: var(--bkg-color-input);
}
input:focus {
  border: 1px solid var(--lt-color-gray-900);
}

button {
  border: solid 1px var(--bkg-color);
  color: var(--text-color);
  padding: 0;
  background-color: var(--bkg-color);
  cursor: pointer;
}
button:hover {
  border: solid 1px var(--text-color-grad2);
}
button.selected {
  border: solid 1px var(--text-color-grad2);
  background-color: var(--text-color-grad2);
  color: var(--bkg-color);
}
#toolbar button {
  height: 2.4rem;
  width: 2.4rem;
}

.icon {
  width: 16px;
  height: 16px;
  fill: var(--text-color);
  margin: 3px;
  flex-shrink: 0;
}
.icon:hover {
  fill: var(--text-color-grad2);
}
.colorPicker {
  border-radius: 5px;
  border: 1px solid var(--text-color);
}
.picker_wrapper {
  transform: translateX(-250px);
}
.picker_arrow {
  transform: translateX(200px) rotate(90deg) scaleX(-1) !important;
}
.picker_wrapper,
.picker_arrow::after,
.picker_arrow::before {
  background-color: var(--bkg-color) !important;
}
.picker_wrapper,
.picker_arrow::before {
  box-shadow: 0 0 10px 1px var(--text-color-grad1) !important;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}

#panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: var(--text-color);
}
#panel > div {
  padding: 1rem 1.5rem 1rem 1.5rem;
}

#toolParameters {
  display: grid;
  grid-template-columns: auto auto 60px auto;
  align-items: center;
  padding-top: 0;
  margin-top: 10px;
}

#drawingListContainer {
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
}
#drawingList {
  display: flex;
  flex-flow: column;
  gap: 0.15rem;
}
#drawingList div.selected {
  box-shadow: 0px 0px 3px 2px var(--text-color-grad2);
}
#drawingList .girafe {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.3rem;
  border: solid 1px var(--text-color);
}
#drawingList .girafe span {
  flex-grow: 1;
  padding-left: 5px;
}

#options {
  display: flex;
  flex-direction: column;
  box-shadow: 0px -2px 3px -1px var(--text-color-grad1);
  position: relative;
  z-index: 100;
}
#optionsTitle {
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.2rem;
}
#options hr {
  width: 100%;
  margin: 8px;
}
#optionsTextLines,
#optionsColorLine,
#optionsLineLines,
#optionsExportLine {
  display: grid;
  align-items: center;
}
#optionsText {
  margin: auto;
}
#optionsTextLines {
  grid-template-columns: 65px 40px 35px 40px 20px 25px;
}
#optionsTextLines button:hover {
  border: none;
}
#optionsColor,
#optionsLine,
#optionsExport {
  margin: auto;
}
#optionsColorLine {
  grid-template-columns: 77px 70px 56px 26px;
}
#optionsLineLines {
  grid-template-columns: 60px 40px 20px;
}
#optionsExportLine {
  grid-template-columns: 60px 60px 45px 45px;
}
