<div class="content">
  <input
    id="name"
    type="text"
    placeholder="Enter name..."
    onkeydown="${(e: KeyboardEvent) => { if (e.key === 'Enter') this.saveBookmark(); }}" />

  <button tip="Add bookmark" onclick="${() => this.saveBookmark()}">
    <img alt="save-icon" src="icons/bookmark-add.svg" />
  </button>
</div>
