.content-horizontal {
  display: flex;
  flex-direction: row;
}

.content-vertical {
  display: flex;
  flex-direction: column;
}

.menu-content {
  display: inline-flex;
  flex-direction: column;
  width: max-content;
  background-color: var(--bkg-color);
}

.border-top {
  border-top: solid 1px var(--bkg-color);
}

.hidden {
  display: none;
}

.grow {
  flex-grow: 1;
}
