/* Common general styles */
.hidden {
  display: none;
}
.gg-rotate90 {
  transform: rotate(90deg);
}
.gg-rotate180 {
  transform: rotate(180deg);
}
.gg-rotate270 {
  transform: rotate(270deg);
}
img {
  filter: var(--svg-filter);
}
/* Animations */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin-wait {
  0% {
    transform: rotate(0deg);
  }
  7% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.gg-spin {
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.gg-spin-wait {
  animation-name: spin-wait;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
/* Scrollbars */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #999;
}
/* Buttons */
.gg-button {
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  padding: 0;
  align-items: center;
  justify-content: center;
}
.gg-button:hover {
  background-color: var(--bkg-color-grad1);
  cursor: pointer;
}
/* Big button */
.gg-big,
.gg-big-withtext {
  min-width: var(--app-standard-height);
  min-height: var(--app-standard-height);
  max-height: var(--app-standard-height);
}
.gg-big img,
.gg-big-withtext img {
  margin: 0;
  width: calc(var(--app-standard-height) - 1.5rem);
}
.gg-big-withtext span {
  font-size: 0.9rem;
  font-variant: small-caps;
  padding: 0 1rem;
}
/* Medium button */
.gg-medium,
.gg-medium-withtext {
  flex-direction: row;
  min-width: calc(var(--app-standard-height) / 1.2);
  min-height: calc(var(--app-standard-height) / 1.2);
  max-height: calc(var(--app-standard-height) / 1.2);
}
.gg-medium img {
  margin: 0;
  width: calc(var(--app-standard-height) / 2.4);
}
.gg-medium-withtext img {
  margin-left: 0.5rem;
  width: calc(var(--app-standard-height) / 2.4);
}
.gg-medium-withtext span {
  font-size: 0.9rem;
  padding: 0 1rem;
  padding-left: 0.5rem;
}
/* Small button */
.gg-small,
.gg-small-withtext {
  flex-direction: row;
  min-width: calc(var(--app-standard-height) / 2);
  min-height: calc(var(--app-standard-height) / 2);
  max-height: calc(var(--app-standard-height) / 2);
}
.gg-small img {
  margin: 0;
  width: calc(var(--app-standard-height) / 3);
}
.gg-small-withtext img {
  margin-left: 0.5rem;
  width: calc(var(--app-standard-height) / 3);
}
.gg-small-withtext span {
  font-size: 0.9rem;
  padding: 0 0.5rem;
  padding-left: 0.3rem;
}
/* Treeview icons (checkbox, caret, spacer, label, grab, selected) */
.gg-small > .gg-checkbox {
  width: 1.2rem;
}
.gg-small > .gg-caret,
.gg-spacer {
  width: 1.5rem;
  padding: 0;
}
.gg-small.gg-image {
  min-width: 1rem;
  width: 1rem;
  padding: 0.25rem;
}
.gg-label {
  text-align: left;
  padding-left: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.gg-grab:hover {
  cursor: grab;
}
.gg-selected {
  font-weight: 700;
  opacity: 1;
}
/* Opacity management */
.gg-opacity {
  opacity: 0.5;
}
.gg-opacity:hover {
  background-color: transparent;
  opacity: 1;
}

/* TODO REG : Suppress all the following styles. */
.girafe-button-big,
.girafe-button-large,
.girafe-button-small,
.girafe-button-tiny {
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}
.girafe-button-big:hover,
.girafe-button-large:hover,
.girafe-button-small:hover,
.girafe-button-tiny:hover {
  background-color: var(--bkg-color-grad1);
  cursor: pointer;
}

.girafe-button-big.dark,
.girafe-button-large.dark,
.girafe-button-small.dark,
.girafe-button-tiny.dark {
  background-color: var(--bkg-color);
  filter: invert(1);
}

/* Big button (icon only) */
.girafe-button-big {
  width: var(--app-standard-height);
  height: var(--app-standard-height);
  align-items: center;
  padding: 1rem;
}
.girafe-button-big img {
  overflow: hidden;
}

/* Large button (long text or icon + long text) */
.girafe-button-large {
  flex-direction: row;
}
.girafe-button-large img {
  margin: 0.3rem;
  height: 2rem;
}
.girafe-button-large span {
  line-height: 2rem;
  height: 2rem;
  margin: 0.3rem;
}

/* Small button (icon only) */
.girafe-button-small {
  min-width: calc(var(--app-standard-height) / 2);
  height: calc(var(--app-standard-height) / 2);
  align-items: center;
  padding: 0.5rem;
}
.girafe-button-small img {
  overflow: hidden;
}
.girafe-button-small span {
  width: 100%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Tiny button (icon only with no padding) */
.girafe-button-tiny {
  width: 1rem;
  height: 1rem;
  align-items: center;
  padding: 0;
}
.girafe-button-tiny img {
  overflow: hidden;
}
