#container,
#ol-map {
  background-color: var(--bkg-color);
  height: 100%;
  width: 100%;
}

#ol-map.darkmap canvas {
  filter: invert(100%) hue-rotate(180deg);
}

.hidden {
  display: none;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 10px;
  text-align: center;
}

.loading span {
  display: block;
  margin-top: 1rem;
  font-weight: 600;
}

.loading span.quote {
  font-style: italic;
  font-weight: 300;
}

#cs-map {
  background-color: var(--bkg-color);
  position: absolute;
  height: 100%;
  overflow: hidden;
  display: none;
  border-left: solid 3px #444;
}

.ol-zoom {
  right: 2rem !important;
  top: 2rem !important;
  left: unset !important;
}

.ol-rotate {
  top: 7rem !important;
  right: 2rem !important;
}

.ol-zoom-in,
.ol-zoom-out,
.ol-rotate-reset {
  width: 2rem !important;
  height: 2rem !important;
  cursor: pointer;
}

.ol-scale-line {
  right: 1rem !important;
  bottom: 0.5rem !important;
  left: unset !important;
}

#swiper {
  display: none;
  width: 99%;
  position: absolute;
  left: 0.5%;
  top: 50%;
  height: 0;
}

.ui-input,
.ui-input:focus-visible {
  background: var(--t-bkg);
  color: var(--text-color);
  padding: 0 0.5rem;
  font-size: 1rem;
  height: 2.3rem;
  line-height: 2.3rem;
  font-weight: bold;
  border: none;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}

input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
}

/* Webkit/Chrome specific */
input[type='range']::-webkit-slider-runnable-track {
  height: 0;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid #444;
  height: 0;
  margin-top: -1000px;
  padding-top: 1000px;
  padding-bottom: 1000px;
  width: 6px;
  background: var(--bkg-color);
  cursor: ew-resize;
}

/* Firefox specific */
input[type='range']::-moz-range-thumb {
  border: 2px solid #444;
  height: 0;
  padding-top: 1000px;
  padding-bottom: 1000px;
  width: 3px;
  background: var(--bkg-color);
  cursor: ew-resize;
}

.close-swiper {
  display: none;
  position: absolute;
  top: 0;
  transform: translateX(-3px);
  width: 2rem;
  height: 2rem;
  background-color: var(--ol-background-color);
  color: var(--ol-subtle-foreground-color);
  border-radius: 4px;
  border-width: 1px;
  cursor: pointer;
}

.close-swiper:hover,
.close-swiper:focus {
  outline: 1px solid var(--ol-subtle-foreground-color);
  color: var(--ol-foreground-color);
}

.ol-viewport .tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0;
  color: white;
  padding: 0.32rem 0.62rem;
  opacity: 0.7;
  white-space: nowrap;
}

@media screen and (max-width: 1000px) {
  .ol-zoom {
    top: 46vh !important;
    right: 0.5rem !important;
  }

  .ol-rotate {
    top: calc(46vh + 5rem) !important;
    right: 0.5rem !important;
  }
}
