<link rel="stylesheet" href="lib/ol/ol.css" />

<div id="container">
  <div id="ol-map"></div>
  <div id="cs-map">
    <div class="${this.loading ? 'loading center' : 'loading hidden'}">
      <img alt="loading-icon" src="icons/loading.svg" class="gg-spin" />
      <span>Loading cesium...</span>
      <span class="quote">Please be patient, like a giraffe reaching for the tastiest leaves.</span>
    </div>
  </div>
  <input id="swiper" type="range" min="0" max="1000" step="1" />
  <button tip="Hide Swiper" tip-placement="bottom" id="close-swiper" class="close-swiper">×</button>
</div>
